/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: roboto-regular; src: url("../fonts/roboto-regular.eot"); src: url("../fonts/roboto-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular.woff") format("woff"), url("../fonts/roboto-regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: roboto-medium; src: url("../fonts/roboto-medium.eot"); src: url("../fonts/roboto-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-medium.woff") format("woff"), url("../fonts/roboto-medium.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: roboto-bold; src: url("../fonts/roboto-bold.eot"); src: url("../fonts/roboto-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-bold.woff") format("woff"), url("../fonts/roboto-bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: roboto-italic; src: url("../fonts/roboto-italic.eot"); src: url("../fonts/roboto-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-italic.woff") format("woff"), url("../fonts/roboto-italic.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: robotocondensed-bold; src: url("../fonts/robotocondensed-bold.eot"); src: url("../fonts/robotocondensed-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/robotocondensed-bold.woff") format("woff"), url("../fonts/robotocondensed-bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: roboto-light; src: url("../fonts/roboto-light.eot"); src: url("../fonts/roboto-light.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-light.woff") format("woff"), url("../fonts/roboto-light.ttf") format("truetype"); font-weight: normal; font-style: normal; }

html::-webkit-scrollbar { width: 8px; height: 8px; border: 1px solid #d1d1d1; -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1); box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1); }
html::-webkit-scrollbar-thumb { background: #00b4ff; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }
html::-webkit-scrollbar-track-piece { -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }
html ::selection { background: rgba(0, 0, 0, 0.1); }
html ::-moz-selection { background: rgba(0, 0, 0, 0.1); }

body { min-width: 1110px; font-size: 13px; font-family: "roboto-regular", Arial, sans-serif; line-height: 1.2; background: white; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; }
body.index-page { background: #f3f3f3; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5e0db), color-stop(100%, #f3f3f3)); background-image: -webkit-linear-gradient(#e5e0db, #f3f3f3); background-image: -moz-linear-gradient(#e5e0db, #f3f3f3); background-image: -o-linear-gradient(#e5e0db, #f3f3f3); background-image: linear-gradient(#e5e0db, #f3f3f3); }

a { text-decoration: none; color: #3e3e3e; }

.l-center { margin: 0 auto; padding: 0 12px; width: 1000px; }

.to-center { text-align: center; }

.wrap { *zoom: 1; }
.wrap:after { content: " "; display: table; clear: both; }

.wrapper { overflow: hidden; }

.out { position: relative; margin: 0 0 -232px; min-height: 100%; height: auto !important; height: 100%; }

.push { clear: both; height: 232px; }

.header { padding: 14px 0 12px; background: white; border-bottom: 1px solid #d1d1d1; }
.header .l-center { *zoom: 1; }
.header .l-center:after { content: " "; display: table; clear: both; }
.header .logo { float: left; margin-right: 44px; }

.logo { display: inline-block; color: #4d4d4d; font-family: "robotocondensed-bold", Arial, sans-serif; font-size: 32px; }
.logo span { color: #00b4ff; }

.header__nav { float: left; *zoom: 1; }
.header__nav:after { content: " "; display: table; clear: both; }
.header__nav a { float: left; margin-right: 6px; border: 1px solid transparent; padding: 0 22px; height: 42px; line-height: 42px; border-radius: 7px; }
.header__nav .is-active { border-color: #d1d1d1; background: whitesmoke; }

.header__right { float: right; *zoom: 1; }
.header__right:after { content: " "; display: table; clear: both; }

.header__enter { float: left; padding-top: 6px; margin-right: 18px; }

.header__enter-links li { margin-bottom: 2px; }
.header__enter-links a { color: #00b4ff; }

.header__lang { float: right; border-left: 1px solid #d1d1d1; height: 42px; line-height: 42px; }
.header__lang .drop-list__link { padding: 0 24px 0 14px; }
.header__lang .drop-list__main { width: 150px; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.has-open-popup { overflow: hidden; }
.has-open-popup body { overflow: hidden; }

.drop-list { position: relative; font-size: 13px; }
.drop-list.is-active .drop-list__main { opacity: 1; visibility: visible; }

.drop-list__link { display: inline-block; position: relative; line-height: 1.2; }
.drop-list__link .fa { margin-left: 13px; color: gray; }

.drop-list__main { position: absolute; z-index: 10; opacity: 0; visibility: hidden; right: 0; top: 100%; margin-top: 20px; line-height: 1.2; border-radius: 5px; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }
.drop-list__main:before { content: ""; position: absolute; left: 50%; margin-left: -7px; top: -10px; z-index: 2; width: 0px; height: 0px; border-style: solid; border-width: 0 7px 10px 7px; border-color: transparent transparent white transparent; }
.drop-list__main:after { content: ""; position: absolute; left: 50%; margin-left: -11px; top: -14px; background: url('../img/icons-s3d26a95e69.png') 0 0 no-repeat; width: 22px; height: 14px; }
.drop-list__main li:first-child a { border-top: 0; border-radius: 5px 5px 0 0; }
.drop-list__main li:last-child a { border-radius: 0 0 5px 5px; }
.drop-list__main a { display: block; border-top: 1px solid #e9e9e9; padding: 10px 24px; background: white; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.drop-list__main a:hover { background: whitesmoke; }

.soc-enter { text-align: justify; text-align: justify; font-size: 0; }
.soc-enter:before { content: ""; display: inline-block; width: 100%; height: 0; }
.soc-enter a { display: inline-block; margin-left: 8px; padding-left: 22px; width: 156px; height: 42px; line-height: 42px; font-size: 14px; color: white; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-family: "roboto-medium", Arial, sans-serif; border-radius: 5px; -webkit-transition: opacity 0.2s; -moz-transition: opacity 0.2s; -o-transition: opacity 0.2s; transition: opacity 0.2s; -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.48), inset 0 1px 0 rgba(255, 255, 255, 0.44); -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.48), inset 0 1px 0 rgba(255, 255, 255, 0.44); box-shadow: 0 1px 4px rgba(0, 0, 0, 0.48), inset 0 1px 0 rgba(255, 255, 255, 0.44); }
.soc-enter a:first-child { margin-left: 0; }
.soc-enter a:hover { opacity: 0.9; }
.soc-enter a:active { position: relative; top: 1px; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.soc-enter .fa { font-size: 24px; margin-right: 20px; vertical-align: middle; }
.soc-enter img { vertical-align: middle; }
.soc-enter .soc-enter__id { padding-left: 9px; }
.soc-enter .soc-enter__mobid { padding: 0; }

.soc-enter__fb { background: #3b5997; }

.soc-enter__vk { background: #4e6f93; }

.soc-enter__gp { background: #427fed; }

.soc-enter__id { background: #486fa5; }
.soc-enter__id img { margin-right: 18px; }

.soc-enter__mobid { text-align: center; }

.btn-action { display: inline-block; padding: 12px 24px 13px; border-radius: 5px; background: #00b4ff; color: white; font-size: 14px; font-family: "roboto-medium", Arial, sans-serif; -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.48), inset 0 1px 0 rgba(255, 255, 255, 0.44); -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.48), inset 0 1px 0 rgba(255, 255, 255, 0.44); box-shadow: 0 1px 4px rgba(0, 0, 0, 0.48), inset 0 1px 0 rgba(255, 255, 255, 0.44); background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #00abf1), color-stop(100%, #00b3ff)); background-image: -webkit-linear-gradient(bottom, #00abf1 0%, #00b3ff 100%); background-image: -moz-linear-gradient(bottom, #00abf1 0%, #00b3ff 100%); background-image: -o-linear-gradient(bottom, #00abf1 0%, #00b3ff 100%); background-image: linear-gradient(bottom, #00abf1 0%, #00b3ff 100%); -webkit-transition: background 0.2s linear; -moz-transition: background 0.2s linear; -o-transition: background 0.2s linear; transition: background 0.2s linear; text-decoration: none; color: white; }
.btn-action:hover { background: #00b3ff; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00abf1), color-stop(100%, #00b3ff)); background-image: -webkit-linear-gradient(top, #00abf1 0%, #00b3ff 100%); background-image: -moz-linear-gradient(top, #00abf1 0%, #00b3ff 100%); background-image: -o-linear-gradient(top, #00abf1 0%, #00b3ff 100%); background-image: linear-gradient(top, #00abf1 0%, #00b3ff 100%); }
.btn-action:active { position: relative; top: 1px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.44); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.44); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.44); }

.checkbox-wrap { margin-bottom: 17px; }

.checkbox { position: relative; padding-left: 24px; display: inline-block; vertical-align: middle; cursor: pointer; font-size: 0; text-align: left; }

.checkbox__input { position: absolute; left: 0; top: 0; width: 16px; height: 16px; opacity: 0; }

.checkbox__text { display: inline-block; vertical-align: middle; font-size: 13px; }

.tooltip { display: none; position: absolute; top: auto; padding-bottom: 15px; width: 148px; margin-left: -62px; text-align: center; z-index: 1000; }

.tooltip__in { position: relative; display: inline-block; padding: 11px 16px; font-size: 13px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; text-align: left; line-height: 12px; background: white; border-radius: 10px; background: rgba(255, 255, 255, 0.95); -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6); -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6); box-shadow: 0 0 6px rgba(0, 0, 0, 0.6); }

.choose { display: inline-block; margin: 15px 0 5px; width: 166px; position: relative; text-align: left; }
.choose .fa { position: absolute; top: 15px; background: none; font-size: 16px; color: #3e3e3e; }
.choose .fa-plus-circle { right: 17px; }
.choose .fa-minus-circle { right: 40px; }

.choose__main { border: 1px solid #e1e1e1; padding-left: 22px; height: 40px; line-height: 40px; border-radius: 20px; background: whitesmoke; font-size: 18px; text-shadow: 0 1px 0 white; }

.radio-wrap { margin-bottom: 5px; }

.radio { display: inline-block; position: relative; cursor: pointer; white-space: nowrap; font-size: 0; }
.radio .fa { margin: 0 3px 0 -5px; }
.radio input { display: inline-block; vertical-align: middle; width: 14px; height: 14px; opacity: 0; }
.radio input:checked + span:after { display: block; }
.radio span { display: inline-block; vertical-align: middle; position: relative; margin: 0; padding-left: 14px; font-size: 13px; white-space: normal; }
.radio span:before { content: ""; position: absolute; left: -14px; top: 50%; margin-top: -7px; width: 14px; height: 14px; background: #f2f2f2; border-radius: 50%; -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.23); -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.23); box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.23); }
.radio span:after { content: ""; display: none; position: absolute; top: 50%; left: -11px; margin-top: -4px; width: 8px; height: 8px; border-radius: 50%; background: #d92300; }

.rate { position: relative; height: 8px; overflow: hidden; border-radius: 10px; }
.rate span { position: absolute; left: 0; top: 0; bottom: 0; background: #ffc600; }

.comment-counter { font-size: 14px; color: #3e3e3e; }

.select { position: relative; }
.select select { position: absolute; z-index: 2; cursor: pointer; top: 0; left: 0; width: 100%; height: 100%; margin: 0; opacity: 0; }

.article { padding: 0 25px 0 0; font-size: 12px; line-height: 20px; color: #575652; }
.article h1 { font-size: 24px; margin: 32px 0 24px; }
.article h2 { font-size: 20px; margin: 60px 0 22px; }
.article h2:first-child { margin-top: 30px; }
.article h3 { font-size: 18px; margin: 28px 0 20px; }
.article h4 { font-size: 16px; margin: 26px 0 18px; }
.article h5 { font-size: 14px; margin: 24px 0 16px; }
.article h6 { font-size: 12px; margin: 22px 0 14px; }
.article img { margin: 10px 0 27px; max-width: 100%; height: auto; border-radius: 5px; }
.article ul { margin-bottom: 30px; }
.article ul li { position: relative; padding-left: 50px; }
.article ul li:before { content: ""; position: absolute; left: 20px; top: 6px; width: 6px; height: 6px; border-radius: 50%; }
.article ol { margin-bottom: 30px; counter-reset: list2; }
.article ol li { position: relative; padding-left: 50px; }
.article ol li:before { content: ""; position: absolute; left: 20px; top: 0; font-size: 12px; font-weight: bold; counter-increment: list2; content: counter(list2) ". "; }

html.intro-page { overflow: hidden; }
html.intro-page body { background: whitesmoke; overflow: hidden; }

.intro-wrap { position: fixed; top: 0; right: 0; left: 0; bottom: 0; margin: 0; overflow-y: auto; overflow-x: auto; font-size: 0; text-align: center; }
.intro-wrap::-webkit-scrollbar { width: 8px; height: 8px; border: 1px solid #d1d1d1; -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1); box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1); }
.intro-wrap::-webkit-scrollbar-thumb { background: #00b4ff; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }
.intro-wrap::-webkit-scrollbar-track-piece { -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }
.intro-wrap:after { content: ""; display: inline-block; vertical-align: middle; height: 100%; width: 0; }

.intro { display: inline-block; vertical-align: middle; padding: 20px; width: 420px; font-size: 22px; font-family: "roboto-light", Arial, sans-serif; color: #4d4d4d; }
.intro .logo { margin-bottom: 80px; font-size: 90px; }
.intro .logo div { font-size: 16px; font-family: "roboto-regular", Arial, sans-serif; }

.intro__slider { margin-bottom: 82px; }
.intro__slider .slick-dots { margin-top: 27px; }

.intro__info { margin: 15px 0; font-size: 14px; font-family: "roboto-medium", Arial, sans-serif; }

.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: none; touch-action: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white slick-image-url("ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-prev, .slick-next { position: absolute; font: 0/0 a; text-shadow: none; color: transparent; top: 50%; margin-top: -27px; }
.slick-prev:focus, .slick-next:focus { outline: none; }
.slick-prev.slick-disabled, .slick-next.slick-disabled { opacity: 0.2; }

.slick-prev { left: -92px; }

.slick-next { right: -92px; }

.slick-dots { text-align: center; }
.slick-dots li { position: relative; display: inline-block; padding: 0 4px; }
.slick-dots li.slick-active button { background: #00b4ff; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.slick-dots button { display: block; width: 14px; height: 14px; background: #e7e7e7; -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.26); -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.26); box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.26); cursor: pointer; font: 0/0 a; text-shadow: none; color: transparent; border-radius: 50%; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.slick-dots button:hover { opacity: 1; }

.has-open-popup { overflow: hidden; }

.overlay { display: none; position: fixed; top: 0; right: 0; left: 0; bottom: 0; z-index: 20000; background: black; background: rgba(0, 0, 0, 0.48); overflow: auto; text-align: center; font-size: 0; }
.overlay:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.overlay::-webkit-scrollbar { width: 8px; height: 8px; border: 1px solid #d1d1d1; -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1); box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1); }
.overlay::-webkit-scrollbar-thumb { background: #00b4ff; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }
.overlay::-webkit-scrollbar-track-piece { -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }

.popup { position: relative; display: inline-block; vertical-align: middle; margin: 50px 0; background: white; font-size: 16px; border-radius: 10px; text-align: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; overflow: hidden; border-radius: 5px; -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3); box-shadow: 0 0 6px rgba(0, 0, 0, 0.3); }

.popup_reg { width: 960px; background: whitesmoke; }

.popup__close { position: absolute; top: 8px; right: 8px; background: url('../img/icons-s3d26a95e69.png') 0 -54px no-repeat; width: 14px; height: 14px; opacity: 0.4; -webkit-transition: opacity 0.2s; -moz-transition: opacity 0.2s; -o-transition: opacity 0.2s; transition: opacity 0.2s; }
.popup__close:hover { opacity: 1; }
.popup__close:active { margin-top: 1px; }

.popup__reg { float: left; padding: 18px 0 0; border-right: 1px solid #e1e1e1; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background: white; }

.popup__reg-item { border-top: 1px dashed #d1d1d1; padding: 27px 50px 30px 66px; }
.popup__reg-item:first-child { border-top: 0; }
.popup__reg-item:last-child { padding-bottom: 45px; }
.popup__reg-item .btn-action { width: 350px; }
.popup__reg-item .input-wrap { margin-bottom: 25px; }

.popup__title { margin-bottom: 22px; font-size: 18px; font-family: "roboto-bold", Arial, sans-serif; }

.popup__slider { padding: 46px 25px 20px; overflow: hidden; text-align: center; font-size: 16px; color: #4d4d4d; }
.popup__slider .slick-slider { margin: 30px auto 0; width: 275px; }
.popup__slider .fa { margin: 3px 0 31px; font-size: 90px; color: #00b4ff; }
.popup__slider p { margin-bottom: 13px; }

.ui-widget-content { position: relative; }

.ui-widget { position: absolute; left: 0; right: 5px; top: 4px; height: 3px; border: 1px solid #dedede; border-radius: 2px; background: #f8f8f8; }

.ui-slider__main { position: relative; height: 15px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.ui-slider_width .ui-slider__main { width: 100%; }

.ui-slider__min, .ui-slider__max { position: absolute; bottom: -15px; font-size: 10px; color: #6c6c6c; }

.ui-slider__min { left: -5px; }

.ui-slider__max { right: -13px; }

.ui-slider-handle { position: absolute; z-index: 2; top: -7px; width: 5px; height: 15px; border: 1px solid #cecece; border-radius: 2px; background: #f3f3f3; -webkit-box-shadow: 0 1px 3px rgba(9, 9, 10, 0.23), inset 0 2px 1px rgba(9, 9, 10, 0.03); -moz-box-shadow: 0 1px 3px rgba(9, 9, 10, 0.23), inset 0 2px 1px rgba(9, 9, 10, 0.03); box-shadow: 0 1px 3px rgba(9, 9, 10, 0.23), inset 0 2px 1px rgba(9, 9, 10, 0.03); background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e9e9e9)); background-image: -webkit-linear-gradient(#ffffff, #e9e9e9); background-image: -moz-linear-gradient(#ffffff, #e9e9e9); background-image: -o-linear-gradient(#ffffff, #e9e9e9); background-image: linear-gradient(#ffffff, #e9e9e9); }
.ui-slider-handle:before { content: ""; position: absolute; left: 1px; top: 5px; }
.ui-slider-handle:hover span { display: block; }
.ui-slider-handle span { display: none; position: absolute; left: 50%; top: -35px; margin-left: -35px !important; width: 70px; height: 23px; line-height: 23px; color: #5c5c5c; font-size: 12px; font-weight: bold; text-shadow: 0 1px 0 white; text-align: center; border-bottom: 1px solid #c5c6ca; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; background: #d1d1d1; -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11); -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11); box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11); background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f9), color-stop(100%, #e2e4e9)); background-image: -webkit-linear-gradient(#f7f7f9, #e2e4e9); background-image: -moz-linear-gradient(#f7f7f9, #e2e4e9); background-image: -o-linear-gradient(#f7f7f9, #e2e4e9); background-image: linear-gradient(#f7f7f9, #e2e4e9); }
.ui-slider-handle span:before { content: ""; position: absolute; left: 50%; margin-left: -5px; bottom: -5px; z-index: 2; width: 0px; height: 0px; border-style: solid; border-width: 5px 5px 0 5px; border-color: #e2e4e9 transparent transparent transparent; }
.ui-slider-handle span:after { content: ""; position: absolute; left: 50%; margin-left: -6px; bottom: -6px; z-index: 1; width: 0px; height: 0px; border-style: solid; border-width: 6px 6px 0 6px; border-color: #c5c6ca transparent transparent transparent; }

.ui-slider-range { position: absolute; z-index: 1; top: -1px; left: 0; height: 3px; border: 1px solid #ff9a3f; border-radius: 2px; background: #f16d21; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0.35))); background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.35) 100%); background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.35) 100%); background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.35) 100%); background-image: linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.35) 100%); }

.ui-slider__top { margin-bottom: 12px; color: #5c584b; font-size: 12px; }
.ui-slider__top span, .ui-slider__top .input { display: inline-block; vertical-align: middle; }
.ui-slider__top .input { height: 28px; width: 73px; padding: 0 7px; font-size: 13px; font-weight: bold; }

.ui-slider__range { margin-bottom: 12px; color: #5c584b; font-size: 12px; }
.ui-slider__range div, .ui-slider__range .input { display: inline-block; vertical-align: middle; }
.ui-slider__range .input { width: 75px; }
.ui-slider__range .input_from { margin-right: 10px; }

.input-wrap { position: relative; }

.input { display: block; padding: 0 20px; width: 100%; height: 44px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 14px; font-family: "roboto-medium", Arial, sans-serif; color: #3e3e3e; border: 1px solid #d1d1d1; border-radius: 5px; -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1); box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1); -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.input:focus { border-color: #00b4ff; }
.input:-ms-input-placeholder { color: gray; }
.input:-moz-placeholder { color: gray; }
.input::-moz-placeholder { color: gray; }
.input::-webkit-input-placeholder { color: gray; }
.input::placeholder { color: gray; }
