.fa-warning
	color: $yellow
	font-size: 19px 
.has-open-popup
	overflow: hidden
	body
		overflow: hidden
.drop-list-wrap
	position: relative
	font-size: 13px
	// &.is-active
	// 	.drop-list
	// 		display: none
	&.has-right-angle	
		.drop-list
			&:before,
			&:after
				left: auto
				right: 40px 
				margin: 0
			&:after
				right: 39px
.drop-list-link
	display: inline-block
	position: relative	
	line-height: 1.2
	color: $dark 
	.fa
		margin-left: 13px
		color: $gray
	

.drop-list
	display: none
	position: absolute
	z-index: 10
	//display: none
	//opacity: 0
	//visibility: hidden
	right: 0
	top: 100%
	width: 311px
	background: #fff 
	margin-top: 15px
	line-height: 1.2
	border-radius: 5px
	//+tr
	+box
	+box-shadow(0 0 6px rgba(#000,.2))
	&:before
		content: ""
		position: absolute
		left: 50%
		margin-left: -10px
		top: -10px
		z-index: 2
		+arr(20,16,#fff,t) 
	&:after
		content: ""
		position: absolute
		left: 50%
		margin-left: -11px
		top: -12px
		+s(arr-shadow)
	li
		&:first-child
			a
				border-top: 0
				border-radius: 5px 5px 0 0
		&:last-child
			a
				border-radius: 0 0 5px 5px
	a
		color: $dark 
.drop-list__item
	display: block
	position: relative
	z-index: 3
	border-top: 1px solid #e9e9e9 
	padding: 14px 24px 
	background: #fff
	+clr
	+tr
	&:hover
		background: $light	
		
.drop-list__name
	float: left
	+fb
	font-size: 14px
	.rating
		margin-top: 5px
.drop-list__right
	float: right
	color: $gray
	font-size: 13px
	+fb 
	.fa-warning
		margin-left: 15px
		vertical-align: middle
.drop-list__info
	vertical-align: middle
	+fb
	color: $gray
	font-size: 14px 
	.fa
		vertical-align: middle
		margin-right: 5px
		font-size: 14px

.soc-enter
	text-align: justify
	+justify
	a
		display: inline-block
		margin-left: 8px
		padding-left: 22px 
		width: 156px
		height: 42px
		line-height: 42px		
		font-size: 14px	
		color: #fff
		+box
		+fm
		border-radius: 5px 
		+tr(opacity .2s)
		+box-shadow(0 1px 4px rgba(0,0,0,.48), inset 0 1px 0 rgba(255,255,255,.44))
		&:first-child
			margin-left: 0
		&:hover
			opacity: 0.9
		&:active
			position: relative
			top: 1px
			+box-shadow(none)
	.fa
		font-size: 24px
		margin-right: 20px
		vertical-align: middle
	img
		vertical-align: middle
	.soc-enter__id
		padding-left: 9px
	.soc-enter__mobid
		padding: 0
.soc-enter__fb
	background: #3b5997
.soc-enter__vk
	background: #4e6f93
.soc-enter__gp 
	background: #427fed
.soc-enter__id
	background: #486fa5 
	img
		margin-right: 18px
.soc-enter__mobid
	text-align: center	 
	

.btn-action
	display: inline-block
	padding: 12px 24px 13px
	border-radius: 5px
	background: $blue
	color: #fff
	font-size: 14px
	+fm
	font-weight: normal
	+font-smoothing
	+box
	+box-shadow(0 1px 4px rgba(0,0,0,.48), inset 0 1px 0 rgba(255,255,255,.44))
	+background-image(linear-gradient(bottom, #00abf1 0%, #00b3ff 100%))
	+tr(background .2s linear)
	text-decoration: none
	color: #fff 
	&:hover
		background: #00b3ff
		color: #fff 
		+background-image(linear-gradient(top, #00abf1 0%, #00b3ff 100%))
	&:active
		position: relative
		top: 1px 
		+box-shadow(inset 0 1px 0 rgba(255,255,255,.44))
	.fa
		vertical-align: middle
		margin: 0 7px
	.fa-level-down
		+rotate(90)
.btn-action_width
	padding: 12px 60px 13px	
.btn-submit
	display: inline-block
	padding: 12px 24px 13px
	border-radius: 5px
	color: #fff
	font-size: 14px
	font-weight: normal
	+font-smoothing
	+fm
	+box	
	+box-shadow(0 1px 4px rgba(0,0,0,.48), inset 0 1px 0 rgba(255,255,255,.44))
	background: #87b900
	+g(#87b900,#739d00)
	+tr(background .2s linear)
	text-decoration: none
	color: #fff 
	.fa
		margin-right: 7px
		vertical-align: middle
		font-size: 16px
	&:hover
		background: #87b900
		+g(#739d00,#87b900)
	&:active
		position: relative
		top: 1px 
		+box-shadow(inset 0 1px 0 rgba(255,255,255,.44))
.btn-link
	display: inline-block
	padding: 12px 24px 13px
	border-radius: 5px
	color: #fff
	font-size: 14px
	+fm
	+box	
	font-weight: normal
	+font-smoothing
	+box-shadow(0 1px 4px rgba(0,0,0,.48), inset 0 1px 0 rgba(255,255,255,.44))
	background: $rose
	+g(#fe0066,#d50055)
	+tr(background .2s linear)
	text-decoration: none
	color: #fff  
	.fa
		margin-right: 7px
		vertical-align: middle
		font-size: 16px
	&:hover
		background: $rose
		color: #fff 
		+g(#d50055,#fe0066)
	&:active
		position: relative
		top: 1px 
		+box-shadow(inset 0 1px 0 rgba(255,255,255,.44))
	&.has-not-gradient
		background: $rose
		&:hover
			background: $rose_d 
		 
.is-liquid
	width: 100%
	padding-left: 0
	padding-right: 0
	text-align: center
.sublink
	margin-bottom: 10px
	a
		color: $blue
		border-bottom: 1px dashed
		&:hover
			border-color: transparent 
.btn-simple		
	display: inline-block
	border: 1px solid $border
	padding: 12px 12px
	font-size: 14px
	+fr
	border-radius: 5px 
	color: $gray	
	background: #fff 
	+tr
	.fa 
		margin-right: 12px
		font-size: 18px
		vertical-align: middle
	&:hover,
	&.is-active
		background: $blue 
		color: #fff	 
		border-color: transparent 
	&:active
		position: relative
		top: 1px
	
.btn
	display: inline-block
	padding: 10px 30px
	border: 1px solid $border 
	font-size: 12px
	color: #808080
	+arial
	border-radius: 5px  
	background: $light 
	+tr
	&:hover
		color: $light 
		background: #808080 

.btn-key
	display: inline-block
	padding: 13px 30px
	font-size: 14px
	+fb
	color: $blue  
	background: $light 
	-webkit-border-radius: 5px 
	border-radius: 5px 
	+box
	+box-shadow(0 1px 4px rgba(0,0,0,.38), inset 0 1px 0 rgba(255,255,255,.72))
	+g($light,#fff)
	&:hover
		background: #fff 
		+g(#fff,$light)
	&:active
		position: relative
		top: 1px
		+box-shadow(none)
	.fa
		margin-right: 10px
	.fa-level-down
		+rotate(90)
.btn-key_normal
	padding: 12px 17px 
	+fr  
	text-align: left  
	font-size: 13px
	.fa
		margin-right: 14px
		font-size: 18px
.btn-key_cancel
	color: $gray
	.fa
		color: $gray 
.rating
	+arial
	font-size: 12px
	color: $gray  
.rating__in,
.rating__text
	display: inline-block
	vertical-align: middle
	height: 15px	 
.rating_big
	.rating__in
		display: block
		margin-bottom: 7px
		height: auto
		color: $gray_d 
		a
			color: $blue
			&:hover	
				text-decoration: underline
.status
	display: inline-block
	padding: 6px 12px
	font-size: 12px
	+arial
	color: #fff
	border-radius: 15px 
	.fa
		margin-right: 3px
	&.is-approved
		background: $green 



.tooltip
	display: none
	position: absolute
	top: auto
	padding-bottom: 15px
	width: 148px
	margin-left: -62px
	text-align: center
	z-index: 1000
.tooltip__in
	position: relative
	display: inline-block
	padding: 11px 16px
	font-size: 13px
	+box
	text-align: left
	line-height: 12px
	background: #fff 
	border-radius: 10px
	background: rgba(255,255,255,.95)
	+box-shadow(0 0 6px rgba(#000, .6))


.choose
	display: inline-block
	margin: 15px 0 5px 
	width: 166px
	position: relative
	text-align: left
	.fa
		position: absolute
		top: 15px
		background: none
		font-size: 16px
		color: $dark 
	.fa-plus-circle
		right: 17px
	.fa-minus-circle
		right: 40px
.choose__main
	border: 1px solid $border
	padding-left: 22px
	height: 40px
	line-height: 40px
	border-radius: 20px
	background: $light 
	font-size: 18px
	text-shadow: 0 1px 0 #fff
		

.rate
	position: relative
	height: 8px
	overflow: hidden
	border-radius: 10px
	//background: $red 
	span
		position: absolute
		left: 0
		top: 0
		bottom: 0
		background: $yellow 
.comment-counter
	font-size: 14px
	color: $dark

.select
	position: relative		
	select
		position: absolute
		z-index: 2
		cursor: pointer
		top: 0
		left: 0
		width: 100%
		height: 100%
		margin: 0
		opacity: 0
.select-simple
	display: inline-block
	position: relative  
	&:hover
		.select-simple__link
			span
				border-color: transparent   
	select
		position: absolute
		z-index: 2
		cursor: pointer
		top: 0
		left: 0
		min-width: 100%
		height: 100%
		margin: 0
		opacity: 0
		padding: 0 5px 
.select-simple__link
	display: inline-block
	color: $dark 
	span
		border-bottom: 1px dashed $gray 
	.fa
		margin-left: 9px
		vertical-align: middle
		color: $gray 
.select-simple_bold
	.select-simple__link
		+fb
		font-size: 14px
.files-wrap
	+clr
	padding: 18px 0 
.files-wrap_mod
	padding: 10px 0 0 
.file
	float: left
	margin: 0 0 8px 8px
	position: relative
	width: 184px
	height: 184px
	line-height: 184px
	text-align: center
	overflow: hidden
	&:first-child,
	&:nth-child(4n+1)
		margin-left: 0
	&:hover
		img
			opacity: .55
	span
		vertical-align: middle
		font-size: 13px
	.progress
		position: absolute
		left: 0
		right: 0
		top: 0 
.file__img			
	img
		vertical-align: middle
		max-width: 100%
		height: auto
		border-radius: 10px 
		+tr
		border: 1px solid $border	
	.fa
		position: absolute
		top: 10px
		right: 10px
		font-size: 20px
		background: none 
		color: #fff 
		+tr(color .2s linear)
		 
		&:active
			margin-top: 1px
	&:hover
		.fa
			color: $dark
.progress
	position: relative
	height: 28px
	border: 1px solid $border
	border-radius: 10px 
	overflow: hidden
	+box-shadow(inset 0 1px 5px rgba(0,0,0,.1))
	span
		position: absolute
		top: 0
		bottom: 0
		left: 0 
		background: url(../img/progress.png) 0 0 repeat
		// &:after
		// 	content: "" 
		// 	position: absolute
		// 	left: 0
		// 	top: 0
		// 	bottom: 0
		// 	right: 0
		// 	//background-color: #00acf3
		// &:before
		// 	content: ""  
		// 	position: absolute
		// 	left: 0
		// 	top: 0
		// 	bottom: 0
		// 	right: 0
		// 	z-index: 2
			//background-color: transparent
			//-webkit-animation: move 40s linear infinite
			//background-image: repeating-linear-gradient(-45deg, transparent, transparent 4px, #009ada 4px, #009ada 8px)
// +keyframes(move)
// 	0%
// 		background-position: 0 0
// 	50%
// 		background-position: 1000px 0
// 	100%
// 		background-position: 0 0

.btn-more
	display: inline-block
	padding: 13px 39px 14px
	border-radius: 5px
	background: $yellow
	color: $dark
	font-size: 13px
	+fm
	border: 1px solid #bdbdbd
	font-weight: normal
	+font-smoothing
	+box
	+tr
	text-decoration: none
	&:hover
		background: $dark
		color: $yellow
	&:active
		position: relative
		top: 1px 
	&.has-icon 
		padding-left: 9px
	.fa
		margin: 0 13px
		font-size: 16px
		
.teaser
	font-size: 12px
	color: #9c9c9c 
.teaser__item
	margin-bottom: 28px
	position: relative
	padding-left: 70px
	&:last-child
		margin-bottom: 0 
.teaser__icon
	position: absolute
	width: 70px
	text-align: center
	top: 2px
	left: 0
	.fa
		color: $yellow
		font-size: 28px
	.fa-lightbulb-o
		font-size: 32px
.teaser__title
	margin-bottom: 10px
	font-size: 24px
	color: #fff
	+fl 

.price
	display: block
	padding-right: 5px
	height: 33px
	line-height: 33px
	color: #fff !important
	border-radius: 7px 5px 5px 7px 
	background: $dark 
	+arial
	font-size: 12px
	text-align: left
	+tr
	.fa
		color: #fff
		vertical-align: middle
		font-size: 16px
	span
		font-size: 18px
		+fb
	&:hover
		background: $rose 
	&:active
		position: relative
		top: 1px

.price__icon
	display: inline-block
	margin-right: 4px 
	height: 33px
	width: 33px
	border-radius: 5px 0 0 5px
	background: $rose 
	text-align: center

.btn-favorite
	display: inline-block
	width: 32px
	height: 32px
	text-align: center
	border-radius: 50% 
	line-height: 32px
	border: 1px solid transparent
	&:hover
		background: #f5f5f5
		border-color: $border
		.fa
			color: $blue 
	&.is-active
		background: #f5f5f5
		border-color: $border
		.fa
			+rotate(45)
			color: $blue
	.fa
		vertical-align: middle
		color: #808080
		font-size: 18px 
.price-open
	display: block
	border: 1px solid $border
	height: 33px
	line-height: 33px
	background: #eee
	+fb
	+tr
	font-size: 14px
	text-align: center
	-webkit-border-radius: 5px
	border-radius: 5px
	color: $dark !important 
	&:hover
		background: $dark
		color: #eee !important  
	&:active
		position: relative
		top: 1px
		
.btn-del
	position: relative
	+fa
	font-size: 20px
	color: $dark
	background: none 
	&:before
		content: "\f057"
	&:hover
		color: $rose 
	&:active
		top: 1px
.btn-add
	display: inline-block
	position: relative
	font-size: 13px
	color: $blue
	+tr
	+fr
	background: none 
	.fa
		margin-right: 3px
	&:hover
		color: $blue_d  
	&:active
		top: 1px
		
.btn-write
	float: right
	padding: 6px 20px 
	text-align: center
	color: #fff
	font-size: 12px
	+arial
	background: $blue
	border-radius: 20px 
	+tr
	&:hover
		color: #fff
		background: $blue_d
	&:active
		position: relative
		top: 1px
	.fa
		margin-right: 6px
.btn-choose
	float: left
	padding: 6px 20px 
	text-align: center
	color: #fff
	font-size: 12px
	+arial
	background: $rose
	border-radius: 20px 
	+tr
	&:hover
		color: #fff
		background: $rose_d
	&:active
		position: relative
		top: 1px
	.fa
		margin-right: 10px
		font-size: 14px
.btn-cancel
	float: left
	padding: 6px 15px 
	text-align: center
	color: #fff
	font-size: 12px
	+arial
	background: $gray
	border-radius: 20px 
	+tr
	&:hover
		color: #fff
		background: $gray_d
	&:active
		position: relative
		top: 1px
	.fa
		margin-right: 10px
		font-size: 14px