+font(roboto-regular, roboto-regular)  
+font(roboto-medium, roboto-medium)  
+font(roboto-bold, roboto-bold)  
+font(roboto-italic, roboto-italic)   
+font(robotocondensed-bold, robotocondensed-bold)   
+font(roboto-light, roboto-light)   
=fr
	font-family: "roboto-regular", Arial, sans-serif 
=fm
	font-family: "roboto-medium", Arial, sans-serif
=fb
	font-family: "roboto-bold", Arial, sans-serif 
=fi
	font-family: "roboto-italic", Arial, sans-serif 
=fbc
	font-family: "robotocondensed-bold", Arial, sans-serif
=fl
	font-family: "roboto-light", Arial, sans-serif 
=arial
	font-family: Arial, sans-serif 

$blue: #00b4ff
$yellow: #ffc600
$dark: #3e3e3e
$border: #e1e1e1
$border_l: #d1d1d1  
$light: #f5f5f5
$rose: #ff0066  
$rose_d: #ee0562
$green: #87b900
$gray_d: #4d4d4d
$gray: #808080
html
	+scrollbar
		width: 8px
		height: 8px
		border: 1px solid #d1d1d1
		+border-radius(4px)
		+box-shadow(inset 0 1px 5px rgba(0,0,0,.1))
	+scrollbar-thumb
		background: $blue
		+border-radius(4px)
	+scrollbar-track-piece     
		+border-radius(4px) 
	+selection
		background: rgba(0,0,0,.1) 
body   
	min-width: 1200px
	font-size: 13px
	+fr
	line-height: 1.2
	background: #fff 
	+font-smoothing
	&.index-page
		//padding-top: 71px
		.header
			position: fixed
			top: 0
			left: 0
			right: 0
			z-index: 100
			.logo
				margin-right: 42px
a
	text-decoration: none
	color: $dark 

.l-container
	margin: 0 auto  
	padding: 0 24px 
	width: 1152px
.to-center
	text-align: center
.wrap
	+clr
.wrapper
	overflow: hidden
.title
	margin-bottom: 15px
	font-size: 18px
	+fb
	color: $gray_d 
	+clr
	span
		color: $green 
	.fa
		margin-left: 5px
		float: right
.out
	position: relative
	//margin: 0 0 -60px
	//min-height: 100%
	//height: auto !important
	//height: 100%	  
// .push
// 	clear: both
// 	height: 60px
.header
	padding: 14px 0 12px 
	background: #fff 
	border-bottom: 1px solid $border_l
	.l-container
		+clr
	.logo
		float: left
		margin-right: 19px	
	.btn-action
		padding: 12px 42px 13px 
	
.logo
	display: inline-block
	color: $gray_d 
	+fbc
	font-size: 32px
	span
		color: $blue 
	em
		font-style: normal
		+fl
.header__nav
	float: left
	+clr
	a
		float: left
		margin-right: 6px
		border: 1px solid transparent
		padding: 0 22px
		height: 42px
		line-height: 42px 
		border-radius: 7px
	.is-active
		border-color: $border_l
		background: $light 
.header__right
	float: right
	+clr
	.btn-simple
		float: left
		margin-right: 10px
.header__enter
	float: left
	padding-top: 6px
	text-align: right
	.drop-list-wrap
		margin-top: -9px
.header__enter-links
	li
		margin-bottom: 4px
	a
		color: $blue 
.header__lang
	float: right
	margin-left: 18px
	border-left: 1px solid  $border_l
	height: 42px
	line-height: 42px
	.drop-list-link
		padding: 0 24px 0 14px 
	.drop-list
		width: 150px
	.drop-list__item
		padding: 10px 24px 
.header__search
	position: relative  
	float: left
	width: 323px
	background: none
	.fa
		position: absolute
		right: 15px
		top: 15px
		z-index: 3
		font-size: 16px
		background: none
	.input
		padding-right: 35px
.header__btn
	float: left
	margin: 1px 8px 0 25px

.header__task
	float: left
	margin-left: 9px
	.drop-list
		right: -19px

.header__user
	position: relative
	display: block
	.fa
		margin-left: 14px
.header__user-name
	display: inline-block
	vertical-align: middle
	margin-right: 7px
	width: 70px
	font-size: 13px
	text-align: right
	overflow: hidden
.header__user-img
	display: inline-block
	vertical-align: middle
	width: 54px
	height: 54px
	overflow: hidden
	img
		border-radius: 50%
		max-width: 100%
		max-height: 100%
	.notific
		position: absolute
		top: -5px
		right: 16px
.notific
	display: inline-block
	vertical-align: middle
	width: 20px
	height: 20px
	background: $rose 
	border-radius: 50%  
	text-align: center
	line-height: 20px
	font-size: 13px
	+fb
	color: #fff 
	&.is-blue
		background: $blue 

.footer
	position: relative 
	min-height: 60px
	overflow: hidden
	border-top: 1px solid $border_l
	padding: 17px 0 12px 
	background: #fff 
	font-size: 12px
	+box
	.l-container
		+clr
.footer__nav
	float: left
	a
		display: inline-block
		margin-left: 27px
		color: $blue
		&:hover
			text-decoration: underline
.footer__info
	float: right
	color: $gray
	
.footer__top
	border-top: 1px solid $border_l
	border-bottom: 1px solid $border_l
	padding: 26px 0 
	font-size: 12px
	+clr
.footer__col
	float: left
	margin-left: 60px
	&:first-child
		margin-left: 0
.footer__title
	margin-bottom: 18px
	+fl
	font-size: 22px
.footer__about
	width: 500px
.link-appstore
	display: inline-block
	vertical-align: top
	margin-right: 6px
	+s(appstore)
.link-playmarket
	display: inline-block
	vertical-align: top
	+s(playmarket)
.footer__cont
	li
		&:first-child
			margin-bottom: 10px
	span
		+fb
	a
		color: $blue 
.footer__bottom
	padding: 20px 0 