.input-wrap
	position: relative
.input
	display: block
	padding: 0 20px 
	width: 100%
	height: 44px
	+box
	font-size: 14px
	+fm
	color: $dark
	border: 1px solid $border_l
	border-radius: 5px 
	+box-shadow(inset 0 1px 5px rgba(0,0,0,.1))
	+tr
	&:focus
		border-color: $blue 
	+placeholder
		color: #808080 