.article
	padding: 0 25px 0 0 
	font-size: 12px
	line-height: 1.2
	color: $dark
	+arial
	p
		margin-bottom: 9px
	h1
		font-size: 24px
		margin: 32px 0 24px
	h2
		font-size: 20px
		margin: 60px 0 22px
		&:first-child
			margin-top: 30px
	h3
		font-size: 18px
		margin: 28px 0 20px
	h4
		font-size: 16px
		margin: 26px 0 18px
	h5
		font-size: 14px
		margin: 24px 0 16px
	h6
		font-size: 12px
		margin: 22px 0 14px
	img
		margin: 10px 0 27px   
		max-width: 100%  
		height: auto
		border-radius: 5px	
		
	ul
		margin-bottom: 30px
		li
			position: relative
			padding-left: 50px
			&:before
				content: ""
				position: absolute
				left: 20px
				top: 6px
				width: 6px
				height: 6px
				//background: $orange 
				border-radius: 50%  
	ol
		margin-bottom: 30px
		counter-reset: list2
		li
			position: relative
			padding-left: 50px
			&:before
				content: ""
				position: absolute
				left: 20px
				top: 0
				font-size: 12px
				font-weight: bold
				//color: $orange  
				counter-increment: list2  
				content: counter(list2) ". "

.fancy-preview	
	display: inline-block
	vertical-align: top
	margin: 15px 0 0 15px
	width: 184px
	height: 184px
	+box
	border-radius: 10px 
	+tr
	overflow: hidden
	border: 1px solid $border	
	&:nth-child(5n)
		margin-left: 0
	img
		margin: 0
		+tr
	&:hover
		opacity: .56
		+box-shadow(0 0 6px #000)

.comments-wrap
	position: relative
	margin-bottom: 14px
	&.is-hidden
		display: none
	.link-all
		margin: 20px 33px 0 0
	.btn-key,
	.btn-action
		margin: 15px 0 20px 
.comments-wrap__head
	padding: 35px 0 23px
	font-size: 13px
	color: #808080
	strong
		font-size: 14px
		+fb
		font-weight: normal
		color: $dark 

.comment
	border-bottom: 1px dotted $border
	margin: 0 33px 
	padding: 14px 0
.comment__head
	+clr
	margin-bottom: 12px
	.user
		float: left
	.user__img
		margin-right: 10px
.comment__meta
	float: right
	padding-top: 10px
	font-size: 12px
	+arial
	color: $gray 
.comment__body
	padding-left: 71px
.to-right
	text-align: right
.link-all
	display: inline-block
	font-size: 12px
	color: $gray
	border-bottom: 1px dotted  
	&:hover
		border-color: transparent 
		
