.page-head
	padding: 30px 0 
	+clr
.page-head_mod
	padding-top: 0
.page-head__title
	float: left
	max-width: 50%
	font-size: 18px
	+fb
	color: $dark 
.page-head__opt
	position: relative
	float: right
	max-width: 50%
	.window
		right: -21px
		left: auto
		width: 311px
.article
	padding: 0 25px 0 0 
	font-size: 12px
	line-height: 1.2
	color: $dark
	+arial
	p
		margin-bottom: 9px
	h1,h1,h2,h3,h4,h5,h6
		font-weight: normal
	h1
		margin: 0 0 40px
		font-size: 35px
		+fl
		line-height: 1
	h2
		font-size: 22px  
		margin: 40px 0 14px
		+fl
	h3
		font-size: 18px
		+fb
		margin: 38px 0 20px
	h4
		font-size: 16px
		margin: 26px 0 18px
	h5
		font-size: 14px
		margin: 24px 0 16px
	h6
		font-size: 12px
		margin: 22px 0 14px
	img
		margin: 10px 0 27px   
		max-width: 100%  
		height: auto
		border-radius: 5px	
	hr
		margin: 16px 0 38px
		border: 0
		height: 1px
		background: #dcdcdc 
	blockquote
		position: relative
		padding-left: 35px
		font-size: 12px
		&:before
			content: "\f071"
			position: absolute
			left: 0
			top: 4px
			color: $yellow
			+fa
			font-size: 19px 
	ul
		margin-bottom: 30px
		li
			position: relative
			padding-left: 50px
			&:before
				content: ""
				position: absolute
				left: 20px
				top: 6px
				width: 6px
				height: 6px
				//background: $orange 
				border-radius: 50%  
	ol
		margin-bottom: 30px
		counter-reset: list2
		li
			position: relative
			padding-left: 50px
			&:before
				content: ""
				position: absolute
				left: 20px
				top: 0
				font-size: 12px
				font-weight: bold
				//color: $orange  
				counter-increment: list2  
				content: counter(list2) ". "
.post
	padding: 0 25px 0 0 
	font-size: 13px
	line-height: 1.2
	color: $dark
	+arial
	p
		margin-bottom: 9px
	h1,h1,h2,h3,h4,h5,h6
		font-weight: normal
	h1
		margin: 0 0 40px
		font-size: 35px
		+fl
		line-height: 1
	h2
		font-size: 22px  
		margin: 40px 0 14px
		+fl
	h3
		font-size: 18px
		+fb
		margin: 38px 0 20px
	h4
		font-size: 16px
		margin: 26px 0 18px
	h5
		font-size: 14px
		margin: 24px 0 16px
	h6
		font-size: 12px
		margin: 22px 0 14px
	img
		margin: 10px 0 27px   
		max-width: 100%  
		height: auto
		border-radius: 5px	
	hr
		margin: 16px 0 38px
		border: 0
		height: 1px
		background: #dcdcdc   
	blockquote
		position: relative
		margin: 27px 0 23px
		padding-left: 35px
		font-size: 12px
		&:before
			content: "\f071"
			position: absolute
			left: 0
			top: 4px
			color: $yellow
			+fa
			font-size: 19px 
	span
		display: block
		margin-bottom: 12px
		padding: 20px 
		border-radius: 7px 
		color: #fff
		font-size: 15px
		+fl
		background: $blue  
		&:last-child
			color: $dark
			background: $light
	ul
		margin: 10px 0 20px 5px
		li
			position: relative
			margin-bottom: 5px
			padding-left: 13px
			&:before
				content: ""
				position: absolute
				top: 6px
				left: 0
				width: 4px
				height: 4px
				background: $dark
				border-radius: 50% 
			ul
				margin: 10px
			li
				padding-left: 9px
				+fi	
	ol
		margin: 10px 0 20px 5px
		counter-reset: list1
		li
			position: relative
			margin-bottom: 5px
			padding-left: 20px
			&:before
				content: ""
				position: absolute
				top: 0
				left: 0
				+fb
				counter-increment: list1 
				content: counter(list1) ". "
			ol
				margin: 10px
				counter-reset: list2
			li
				padding-left: 30px
				+fi	
				&:before
					content: "" 
					position: absolute
					left: 0
					top: 0
					counter-increment: list2
					content: counter(list1) "." counter(list2) ". "
	table
		margin: 24px 0 
		border-radius: 7px
		border: 1px solid $border
		border-collapse: separate
		th
			font-weight: normal
			+fb
			font-size: 15px
		thead
			th
				border-top: 0
		td,th
			border-left: 1px solid $border
			border-top: 1px solid $border
			padding: 16px
			text-align: center
			h3
				font-size: 15px
			&:first-child
				border-left: 0
				text-align: left
.fancy-preview	
	display: inline-block
	vertical-align: top
	margin: 15px 0 0 15px
	width: 184px
	height: 184px
	+box
	border-radius: 10px 
	+tr
	overflow: hidden
	border: 1px solid $border	
	&:nth-child(5n),
	&:first-child
		margin-left: 0
	img
		margin: 0
		+tr
	&:hover
		opacity: .56
		+box-shadow(0 0 6px #000)

.comments-wrap
	position: relative
	margin-bottom: 14px
	&.is-hidden
		display: none
	.link-all
		margin: 20px 33px 0 0
	.btn-key,
	.btn-action
		margin: 15px 0 20px 
.comments-wrap__head
	padding: 35px 0 23px
	font-size: 13px
	color: #808080
	+clr
	strong
		font-size: 14px
		+fb
		font-weight: normal
		color: $dark 
	.rating
		float: right
		margin-top: -7px
.comments-wrap__scroll
	padding-right: 11px
	max-height: 206px
	overflow-x: hidden
	overflow-y: auto		
	+scrollbar
		width: 8px
		height: 8px
		border: 1px solid #d1d1d1
		+border-radius(4px)
		+box-shadow(inset 0 1px 5px rgba(0,0,0,.1))
	+scrollbar-thumb
		background: $blue
		+border-radius(4px)
		+box-shadow(0 1px 4px rgba(0,0,0,.48), inset 0 1px 0 rgba(255,255,255,.72))
	+scrollbar-track-piece     
		+border-radius(4px)
	.comment
		margin: 0
		padding-right: 25px
.comment
	border-bottom: 1px dotted $border
	margin: 0 33px 
	padding: 14px 0
	
.comment_no-pic
	.comment__body
		padding-left: 0
	.user__name
		color: $dark 
.comment_with-task
	.user__info,
	.user__img
		vertical-align: top
	.user__info
		padding-top: 10px
	.task-item
		margin: 14px 0 
		width: 613px
		+box
	.comment__meta
		float: none
		clear: both
		padding: 5px 0 0 70px
.comment__head
	+clr
	margin-bottom: 12px
	.user
		float: left
	.user__img
		margin-right: 10px
.comment__meta
	float: right
	padding-top: 10px
	font-size: 12px
	+arial
	color: $gray 
	+clr
	.rating
		float: left
.comment__meta-info
	float: right
.comment__body
	padding-left: 71px
.task-item
	border: 1px solid $border
	padding: 14px 18px 
	border-radius: 10px 
	overflow: hidden
	background: $light 	
	+arial
	font-size: 12px
.task-item__title
	font-size: 14px
	+fb
.task-item__categ
	color: $gray
	font-style: italic 
.task-item__info
	padding: 10px 0 0

.to-right
	text-align: right
.link-all
	position: relative
	display: inline-block
	font-size: 12px
	color: $gray
	border-bottom: 1px dotted  
	.fa-question-circle
		position: absolute
		left: -20px
		top: 1px
		font-size: 13px
	&:hover
		border-color: transparent 
		

.important-text
	position: relative
	margin: 0 0 30px 
	padding-left: 38px
	font-size: 12px 
	+arial
	.fa
		position: absolute
		left: 3px
		top: 3px
		color: $yellow
		font-size: 19px  
		


.user-box
	position: relative
	display: block
	margin-bottom: 10px
	width: 310px
	border-radius: 5px 
	border: 1px solid $border
	+tr
	color: $dark 
	&.is-active,
	&:hover    
		color: $dark 
		+box-shadow(0 0 6px rgba(#000,.2))
		.user-box__top
			background: #fff 
	&.has-cloud
		&:before
			content: ""
			position: absolute
			right: -70px
			top: -70px
			+s(clouds) 
	&.is-chosen
		.user-box__status
			background: $rose
			color: #fff 
			border-color: $rose 
			border-radius: 0 0 5px 5px
			.fa
				color: #fff
				font-size: 20px 
.user-box_liquid
	width: 100%
.user-box__status
	position: relative
	border-top: 1px solid #fff
	padding: 6px 15px 9px 
	text-align: left
	
	+clr
	+box-shadow(0 -1px 0 #e3e3e3)
	&:last-child
		border-radius: 0 0 5px 5px 
	.fa-check-circle
		margin-right: 10px
		color: $rose 
	.fa-check
		font-size: 20px
		margin-right: 7px
		color: $dark
	.fa-ban
		color: $dark 
	.window_inside-parent
		top: auto
		bottom: 43px
		left: 11px
		width: 311px
		&:before
			top: auto
			bottom: -12px
			+arr(14,12,#fff,b)
		&:after
			top: auto
			bottom: -14px
			+s(arr-shadow-b)
.user-box_white
	.user-box__top
		background: #fff 
.user-box_big
	//overflow: hidden
	.user-box__bottom
		padding: 9px 15px 
	.user-box__status
		background: $light
.user-box__top
	position: relative
	border-bottom: 1px solid $border  
	padding: 10px 15px 
	background: $light
	+tr
	+clr
	border-radius: 5px 5px 0 0
	.btn-favorite
		position: absolute
		right: 10px
		top: 10px
.user-box__bottom
	border-top: 1px solid #fff 
	padding: 4px 15px 10px
	background: #fafafa
	border-radius: 0 0 5px 5px
	+clr
.user-box__left
	float: left
	padding-right: 7px
	width: 350px
	ul
		display: inline-block
		padding-right: 27px
		vertical-align: top
.user-box__right
	overflow: hidden	
.user-box__attr
	float: left
	margin-top: 7px
	+arial
	font-size: 12px
	&:first-child
		//margin-top: 0
	.fa-check-circle
		color: $rose 
	span
		display: block
		color: $gray 
	div
		display: inline-block
		vertical-align: middle
	.user-box__digit
		color: #fff 
	.fa-male
		color: $blue
	.fa-map-marker
		color: $gray
.user-box__icon
	width: 27px
	.fa
		font-size: 20px
.user-box__digit
	display: block
	width: 20px
	height: 20px
	border-radius: 50% 
	background: $blue
	text-align: center 
	font-size: 13px
	+fb 
	line-height: 20px 
	&.is-red
		background: $rose 
.user-box__message
	position: relative
	border-top: 1px solid $border 
	padding: 0 40px 
	display: none
	.btn-close
		position: absolute
		right: 11px
		top: 11px
.user-box__about
	border-top: 1px solid $border
	+box-shadow(inset 0 1px 0 #fff) 
	border-radius: 0 0 5px 5px 
	.comments-wrap
		border-top: 1px solid $border
		padding: 18px 0 
		display: none
	.comments-wrap__head	
		border-bottom: 1px solid $border 
		padding: 5px 20px 10px
	.input-wrap_comment
		clear: both
		margin-top: 17px
	.comment
		padding: 14px 20px
.user-box__info-text
	padding: 18px 20px
	background: $light 		
	&:last-child
		border-radius: 0 0 5px 5px 
	.article
		padding: 0
	.fancy-preview
		margin-left: 0

.user 
	+clr
	white-space: nowrap
.user__img
	display: inline-block
	vertical-align: middle
	margin-right: 10px
	width: 58px
	height: 58px
	border-radius: 0 0 5px 5px
	overflow: hidden
	+box
	border-radius: 50%  
	border: 2px solid $border
	img
		max-width: 100%
		height: auto
.user__info
	display: inline-block
	vertical-align: middle
	white-space: normal
.user__meta
	.rating,
	.status
		display: inline-block
		vertical-align: middle
	.status
		margin-left: 4px
.user__name
	color: $blue
	font-size: 16px
	+arial
	font-weight: bold 

.video
	max-width: 100%
	margin: 20px 0 
	overflow: hidden
	iframe
		display: block
		max-width: 100%
		border: 1px solid $border

.table
	margin-top: 23px
	font-size: 14px
	+fm
	color: $gray_d
	td,th
		padding: 17px 20px
		text-align: left
		border-bottom: 1px solid #e5e5e5   
		vertical-align: middle
	th
		color: $dark
		font-weight: normal
		+fb 
		font-size: 14px
	td
		text-align: left
		5 
	.is-paid
		.table__sum
			color: $blue 
	.is-progress
		.table__sum
			color: $gray
	.is-inactive
		td
			color: $gray
.table_money
	thead
		a
			color: $dark
			&.is-active
				.fa
					color: $blue
		.fa
			margin-left: 7px
			color: $gray
			font-size: 12px 
	tbody
		.fa
			margin-right: 7px
			font-size: 12px
			color: $gray_d 
.table__download
	a
		color: $blue
		font-size: 13px
		+tr
		&:hover
			color: $blue_d 
			.fa
				color: $blue_d 
		.fa
			font-size: 18px
			color: $blue 
			+tr
.table__user
	span
		display: block
		font-size: 12px
		color: #525252 
	a
		.fa
			color: $blue 
			font-size: 13px
.table__status
	.status
		.fa
			color: #fff 