.job-results
	position: relative
	overflow-y: hidden
	.out
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 60px
		overflow: hidden
	.footer
		position: absolute
		bottom: 0
		left: 0
		right: 0
	.header
		position: relative
		z-index: 10
		height: 71px 
		padding: 0
		+clr
.header__left-part
	position: absolute
	left: 0
	top: 15px
	bottom: 0
	width: 43%
.header__right-part
	position: absolute
	left: 43%
	right: 0
	top: 15px
	bottom: 0
	width: 57%
.header__right-in
	width: 720px
	+clr
.map
	position: absolute
	left: 0
	top: 71px
	bottom: 0
	width: 43%
	background: #e9e6da
.result
	position: absolute
	top: 71px
	right: 0
	left: 43%
	z-index: 2
	bottom: 0
	+box-shadow(0 0 6px rgba(#000,.4))
	&.has-fixed-filter
		.result__top
			position: absolute
			top: 0
			left: 0
			right: 0
			z-index: 10
		.result__scroll
			//padding-top: 70px
		.result__list
			margin-top: 142px
	&.has-not-filters
		.is-hidden
			display: none
		.input-wrap
			margin-bottom: 0
		.show-filter
			display: block
.result__scroll
	overflow-x: hidden 
	overflow-y: auto
	background: #fff 
	height: 100%  
	+box
	+scrollbar
		width: 8px
		height: 8px
		border: 1px solid #d1d1d1
		+border-radius(4px)
		+box-shadow(inset 0 1px 5px rgba(0,0,0,.1))
	+scrollbar-thumb
		background: $blue
		+border-radius(4px)
	+scrollbar-track-piece     
		+border-radius(4px)
.result__top
	padding: 13px 0 0
	background: $light 
	border-bottom: 1px solid $border
	.show-filter
		display: none
.result__in
	padding-left: 24px
	width: 722px
	+box
	.input-wrap
		margin-bottom: 9px
.google-map
	width: 100%
	height: 100%
	
.input-wrap__left
	position: relative
	padding: 16px 0 0 
	float: left
	width: 240px
	width: 31%
	.input-wrap__title
		color: #808080 
		font-size: 13px
.input-wrap__right
	position: relative
	float: left
	width: 69%
	.checkbox-rap
		padding-top: 7px
	.ui-slider
		margin: 8px 5px 11px 
.input-wrap_location
	.ui-multiselect	
		padding-right: 195px
		+text-overflow
		&:after
			right: 190px

.result__sort 
	margin-top: 22px
	border-top: 1px solid $border 
	background: $light 
	+fb
	font-size: 14px
	color: #808080 
	a
		font-size: 14px
		+fm
		color: $dark 
	.result__in
		display: table
		padding: 0
		div
			display: table-cell
			padding: 18px 0 19px
			vertical-align: middle
		.result__sort-item1
			padding-left: 24px
			width: 217px
		.result__sort-item2
			width: 196px
		.result__sort-item3
			width: 164px	
		.result__sort-item4
			text-align: center
	.fa  
		margin-left: 4px
		color: $blue 
.show-filter
	+fb
	color: $dark
	font-size: 13px
	.fa
		padding-left: 5px
		font-size: 18px
		vertical-align: middle  


.job
	position: relative
	border-bottom: 1px solid $border 
	font-size: 12px
	+arial
	color: $dark 
	+tr
	&:before
		content: ""
		position: absolute
		left: -17px
		top: 24px
		opacity: 0 
		visibility: hidden
		+s(arr-shadow-gray-l) 
		+tr
	&:hover
		background: $light 
		&:before
			opacity: 1
			visibility: visible
.job__in
	padding: 15px 0 24px 24px
	width: 722px
	+box
	+clr
.job__main
	position: relative
	padding-top: 6px
	float: left
	width: 387px
	+box
	.btn-favorite
		position: absolute
		top: -1px
		right: 7px
.job__title
	width: 335px
	min-height: 35px
	a
		+fb
		font-size: 18px 
.job__categ
	display: block
	margin-bottom: 12px
	font-style: italic
	font-size: 12px
	color: #808080 
.job__descr
	margin: 0 0 13px 
.job__address
	margin: 13px 0 0
	.fa
		margin-right: 11px
		color: $blue 
		font-size: 16px
.job__employer
	float: left
	padding-top: 12px
	width: 127px
	text-align: center
	.rating
		margin-bottom: 10px
.job__employer-name
	margin-bottom: 13px
	text-align: center
	max-width: 90%
.job__info
	overflow: hidden
	padding-left: 22px
	.fa
		font-size: 16px
	.fa-bolt
		color: $rose 
.job__attr
	margin-top: 12px
	padding-left: 13px
	text-align: left
	.fa
		float: left
		margin-right: 14px
	div
		overflow: hidden
		
.job-more
	//border-top: 1px solid $border 
	div
		display: block
		width: 720px
		padding: 17px 0 
		text-align: center
	.fa
		font-size: 43px
		color: #808080 
.job-info
	position: relative
.job-info__head
	+clr
	margin-bottom: 22px
	.btn-favorite
		margin-right: 16px
.job-info__col
	float: left
	width: 50%
	text-align: right
	&:first-child
		text-align: left
.job-info__title
	font-size: 18px
	color: $blue
	+fb
	+clr
	a
		display: block
		position: relative
		.fa
			position: absolute
			top: 5px
			right: 0
			font-size: 14px
.job-info__subtitle
	padding-top: 11px
	font-size: 14px
	color: $dark
	+fb 
.job-info__categ
	font-size: 12px
	color: #808080
	+fi 

.job-info__footer
	margin-top: 24px
	+clr
	.map-address
		float: left
	.link-hide
		float: right
.map-address
	font-size: 14px
	+fb
	span
		display: inline-block
		vertical-align: middle
		margin-right: 27px
	i
		display: inline-block
		margin-right: 9px
		vertical-align: middle
		width: 26px
		height: 26px
		text-align: center
		line-height: 26px 
		font-style: normal
		font-size: 15px
		color: #fff 
		border-radius: 50% 
		background: $blue 
		
.link-hide
	color: $blue
	font-size: 12px   
	&.is-active
		.fa
			+rotate(180)
	.fa
		+tr
.map-static
	position: relative
	overflow: hidden
	&.is-inactive
		border-top: 1px dashed $border 
	&:before,
	&:after
		content: ""
		position: absolute
		left: 0
		right: 0
		height: 1px
		z-index: 2
	&:before
		top: -2px  
		+box-shadow(0 0 7px rgba(#000,1))
	&:after
		bottom: -2px  
		+box-shadow(0 0 7px rgba(#000,1))
	.google-map
		height: 340px
		
.task-info
	float: right
	width: 52%
	font-size: 12px
	+arial
.task-info_width
	+clr
	float: none
	width: 100%
.task-info__left
	float: left
	width: 50%
.task-info__right
	float: right
	width: 45%
	.task-info__links
		margin-top: 21px
		padding-left: 0
.time
	position: relative
	margin-bottom: 15px
	padding-left: 19px
	font-size: 12px
	+arial
	.fa-clock-o
		position: absolute
		top: 0
		left: 0
		font-size: 16px
.time__title
	margin-bottom: 7px
	font-size: 14px
	+fb
	color: $dark
	.fa
		font-size: 16px
.task-info__attr
	position: relative
	margin-bottom: 18px
	padding-left: 19px
	.fa
		position: absolute
		top: 0
		left: 0
		font-size: 16px
	.fa-bolt
		color: $rose 
.task-info__links
	padding-left: 19px
	li
		position: relative
		margin-bottom: 2px
		padding-right: 30px
		color: $gray
	a
		display: inline-block
		border-bottom: 1px dashed 
		color: $gray
		font-size: 12px 
		line-height: 1.2
		&:hover
			border-color: transparent 
	span
		position: absolute
		right: 0
		top: 0
.author
	float: left  
	width: 40%
	+arial
	color: $gray 
	font-size: 12px
	.rating
		margin-bottom: 29px  
.author__name
	display: inline-block
	margin: 7px 0 
	color: $blue 
.author__title
	font-size: 14px
	+fb
	color: $dark 

.take-job
	display: block
	margin: 30px 0 0 
	+box
	color: #fff   
	+clr
	&:hover	
		color: #fff 
		.take-job__text
			color: $border
	&:active
		position: relative
		top: 1px
.take-job__icon
	float: left
	padding: 0 17px 
	height: 42px
	border-radius: 5px 0 0 5px
	background: $rose 
	+g(#fe0066,#d50055)
	line-height: 42px
	.fa
		margin-right: 10px
		font-size: 16px
	.fa,span
		display: inline-block
		vertical-align: middle
		line-height: 1
	span
		+fb
		font-size: 18px
		em
			font-style: normal
			display: block
			+arial
			font-size: 12px
	
.take-job__text
	display: block
	overflow: hidden
	background: $dark 
	height: 42px
	text-align: center
	line-height: 42px
	font-size: 14px
	+fm
	+tr
	border-radius: 0 5px 5px 0
.candidates
	font-size: 12px
	+arial
	.link-all
		margin-top: 18px
.candidates__title  
	margin-bottom: 18px
	font-size: 14px
	+fb
.candidates__message
	position: relative
	margin-bottom: 24px
	padding-left: 37px 
	.fa
		position: absolute 
		top: 0
		left: 5px
	.fa-warning
		color: $yellow 
.border-divider
	position: relative
	z-index: 2
	height: 0
	background: none
	&:before
		content: ""
		position: absolute
		left: -3000px
		right: -3000px
		height: 0 
		border-top: 1px dashed $border 
.set-price
	position: relative
	margin: 30px 0 0 
	+clr
	.input
		float: left
		padding-right: 7%
		width: 41%
		background: none
		border-right: 0 
		border-radius: 5px 0 0 5px 
	label
		&.has-error
			position: absolute
			left: 0
			top: -20px
			color: $rose 
	span
		position: absolute
		left: 34%
		top: 12px
		+fb
		font-size: 18px
		color: $dark 
	.window
		left: 0
		right: 0
		width: auto
.set-price__btn
	float: left 
	width: 59%
	background: $dark
	height: 44px 
	color: #fff
	font-size: 14px
	+fm 
	+tr
	border-radius: 0 5px 5px 0
	&:hover
		color: $border 
		
.result_static
	position: relative
	top: 0
	left: 0
	right: 0
	+box-shadow(none)
	.result__in
		width: 100%
		padding-left: 0
		+clr
		.result__sort-item3
			width: 313px
	.result__sort
		.checkbox_medium
			color: $dark 
	&.is-fixed-sort
		.result__top
			margin-bottom: 61px
		.result__sort
			position: fixed
			top: 0
			left: 0
			right: 0
			margin: 0
			border-bottom: 1px solid $border 			
.result__left-col
	float: left
	width: 628px
	.input-wrap__left
		width: 25%
		padding-top: 4px
	.input-wrap__right
		width: 75%
.result__right-col
	padding-left: 72px
	overflow: hidden
	.input-wrap__left
		width: 30%
		padding-top: 4px