// default layout
.l-cols
	+clr
	background: $light 
	.l-col1
		float: left
		border-right: 1px solid $border_l
		padding: 30px 0 
		width: 820px
		+box
		background: #fff 
	.l-col2
		float: right
		border-right: 1px solid $border_l
		width: 356px  
		+box
