.has-open-popup
	overflow: hidden
.overlay
	display: none
	position: fixed
	top: 0
	right: 0
	left: 0
	bottom: 0
	z-index: 20000
	background: #000 
	background: rgba(#000,.48)
	overflow: auto
	+vertical
	+scrollbar
		width: 8px
		height: 8px
		border: 1px solid #d1d1d1
		+box-shadow(inset 0 1px 5px rgba(0,0,0,.1))
	+scrollbar-thumb
		background: $blue
		+border-radius(4px)
	+scrollbar-track-piece     
		+border-radius(4px) 
.popup
	position: relative
	display: inline-block
	vertical-align: middle
	margin: 50px 0
	background: #fff
	font-size: 16px
	border-radius: 10px
	text-align: left
	+box
	overflow: hidden
	border-radius: 5px  
	+box-shadow(0 0 6px rgba(#000, .3))
.popup_reg
	width: 960px   
	background: $light
.popup__close
	position: absolute
	top: 8px
	right: 8px
	+s(close)
	opacity: .4
	+tr(opacity .2s)
	&:hover
		opacity: 1
	&:active
		margin-top: 1px
.popup__reg
	float: left
	padding: 18px 0 0 
	border-right: 1px solid #e1e1e1 
	+box
	background: #fff 
.popup__reg-item
	border-top: 1px dashed $border_l 
	padding: 27px 50px 30px 66px 
	&:first-child
		border-top: 0
	&:last-child
		padding-bottom: 45px
	.btn-action
		width: 350px
	.input-wrap
		margin-bottom: 25px
.popup__title
	margin-bottom: 22px
	font-size: 18px
	+fb
.popup__slider
	padding: 46px 25px 20px 
	overflow: hidden
	text-align: center
	font-size: 16px
	color: $gray_d 
	.slick-slider
		margin: 30px auto 0
		width: 275px
	.fa
		margin: 3px 0 31px 
		font-size: 90px
		color: $blue 
	p
		margin-bottom: 13px