.sidebar__item
	padding: 30px 0 30px 25px 
	border-bottom: 1px dashed $border 
	&:last-child
		border-bottom: 0
	.field
		margin: 30px 0 8px
	.btn-action
		margin-bottom: 15px
	.title
		margin-bottom: 20px  
	.user-box
		width: 100%