.sidebar
	position: relative
.sidebar__in
	position: absolute
	top: 25px
	right: 6px
	bottom: 36px
	left: 0
	padding: 5px 8px 5px 16px
	overflow-x: hidden
	overflow-y: auto
	+scrollbar
		width: 8px
		height: 8px
		border: 1px solid #d1d1d1
		+border-radius(4px)
		+box-shadow(inset 0 1px 5px rgba(0,0,0,.1))
	+scrollbar-thumb
		background: $blue
		+border-radius(4px)
		//+box-shadow(0 1px 4px rgba(0,0,0,.48), inset 0 1px 0 rgba(255,255,255,.72))
	+scrollbar-track-piece     
		+border-radius(4px)
	.user-box
		width: 100%
		&:last-child
			margin-bottom: 0
		&.is-active
			&:before
				content: ""
				position: absolute
				top: 17px
				left: -11px
				z-index: 2
				+arr(16,20,#fff,l) 
			&:after
				content: ""
				position: absolute
				top: 19px
				left: -13px
				+s(arr-shadow-l)

.sidebar__item
	padding: 30px 25px 30px 25px 
	border-bottom: 1px dashed $border 
	&:last-child
		border-bottom: 0
	.field
		margin: 30px 0 8px
	.btn-action
		margin-bottom: 15px
	.title
		margin-bottom: 20px  
	.user-box
		width: 100%
	.btn-key
		margin-bottom: 9px
	.btn-wrap
		margin: 30px 0 
.sidebar__text
	p
		margin-bottom: 10px
.accordion
	border-bottom: 1px solid #fff 
	padding: 15px 45px 15px 27px
	+box-shadow(inset 0 -1px 0 #e3e3e3)
	&.is-active
		background: #f9f9f9 
	&:first-child
		border-top:  1px solid #fff 
		+box-shadow(0 -1px 0 #e3e3e3,inset 0 -1px 0 #e3e3e3)
.accordion__title
	position: relative
	font-size: 16px
	+fm
	cursor: pointer
	+unselectable
	span
		display: block
		max-width: 280px
	&.is-active
		&:before
			+rotate(180)
	&:before
		content: "\f106" 
		position: absolute
		right: -13px
		top: 0
		+fa
		font-size: 16px  
		+tr
.accordion__list
	display: none
	padding: 15px 0 0 20px
	font-size: 14px
	li
		border-top: 1px solid $border 
		&.is-active
			a
				color: $blue 
	a
		display: block
		padding: 13px 0 
		color: $dark 
		+tr
		&:hover
			color: $blue 