.categ
	position: relative 
	float: left
	margin: 0 8px 8px 0 
	padding: 22px 10px 0
	width: 184px
	height: 184px
	+box
	border: 1px solid #d1d1d1
	background: #fff
	border-radius: 8px 
	overflow: hidden
	text-align: center
	+tr 
	+fa
	&:hover
		+box-shadow(0 0 6px rgba(#000,.15))
		@for $i from 1 through 12
			.icon-cat-#{$i}
				+s(cat#{$i}-act)
	&.is-active
		+box-shadow(0 0 6px rgba(#000,.15))
		&:before
			+sp(cat-angle-act)
		@for $i from 1 through 12
			.icon-cat-#{$i}
				+s(cat#{$i}-act)
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		+s(cat-angle)
		// +gray
		// +tr
		// opacity: 0.2
	&:after
		content: "\f058"
		position: absolute
		top: 4px
		left: 4px
		z-index: 2
		font-size: 20px
		color: #fff 
		
.categ__icon
	display: block
	height: 114px 
	i
		display: inline-block
	@for $i from 1 through 12
		.icon-cat-#{$i}
			+s(cat#{$i})
.categ__title
	font-size: 14px
	color: $dark
	+fb 

